@model PaPlWebsite.Models.Parcel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm(FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Submit Parcel</h4>
    <hr />


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label>Weight</label>

        @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })

    </div>
    <div class="col-md-6">
        <h4><b>Sender</b></h4>
        <div class="form-group">
            <label>Name</label>

            @Html.EditorFor(model => model.SenderName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SenderName, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <label>Street</label>

            @Html.EditorFor(model => model.SenderStreet, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SenderStreet, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <label>Postal Code</label>

            @Html.EditorFor(model => model.SenderPostalCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SenderPostalCode, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <label>City</label>

            @Html.EditorFor(model => model.SenderCity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SenderCity, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <label>Country</label>

            @Html.EditorFor(model => model.SenderCountry, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SenderCountry, "", new { @class = "text-danger" })

        </div>

    </div>

    <div class="col-md-6">
        <h4><b>Recipient</b></h4>
        <div class="form-group">
            <label>Name</label>

            @Html.EditorFor(model => model.RecipientName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RecipientName, "", new { @class = "text-danger" })

        </div>


        <div class="form-group">
            <label>Street</label>

            @Html.EditorFor(model => model.RecipientStreet, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RecipientStreet, "", new { @class = "text-danger" })

        </div>


        <div class="form-group">
            <label>Postal Code</label>

            @Html.EditorFor(model => model.RecipientPostalCode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RecipientPostalCode, "", new { @class = "text-danger" })

        </div>


        <div class="form-group">
            <label>City</label>

            @Html.EditorFor(model => model.RecipientCity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RecipientCity, "", new { @class = "text-danger" })

        </div>


        <div class="form-group">
            <label>Country</label>

            @Html.EditorFor(model => model.RecipientCountry, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RecipientCountry, "", new { @class = "text-danger" })

        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-primary" />
        </div>
    </div>
</div>
}
